<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <h1>Add a product</h1>
    <form action="/products" method="post">
        <label for="name"> name</label>
        <input type="text" name="name" id="name">

        <label for="brand">brand</label>
        <input type="text" name="brand" id="brand">
        
        <label for="color">color</label>
        <input type="text" name="color" id="color">

        <label for="price">price</label>
        <input type="number" name="price" id="price">

        <label for="category">category</label>
        <select name="category" id="category">
            <option value="baju">baju</option>
            <option value="celana">celana</option>
            <option value="jaket">jaket</option> 
            <option value="aksesoris">aksesoris</option>
        </select>
        <button type="submit">Add Product</button>

    </form>
</body>
</html>